{% extends 'base.html' %}

{% block body1 %}
    <div id="body1">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2">
                    <h6><br>Авторизация прошла успешно!<br></h6>
                    <h2>Подождите немного и скоро все будет хорошо!<br></h2>
                   {#  <a style=" font-size: 20px; font-weight: 200; "  href="{% url 'x0_url' %}">Либо нажмите на данную надпись</a> #}
                    <meta http-equiv="refresh" content="3; url=/main/">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
