{% extends 'base.html' %}
{% block body1 %}
    <div id="body1">
        <br><br>
        <h1>Добавление студента в группу</h1>
        <form method="POST" enctype="multipart/form-data">
            <div class="add-form">
                {% csrf_token %}
                <div class="course_add">
                    <label for="id_name_course">Номер группы:</label>
                    <div class="data-and-error">
                        <input type="text" name="group_number" maxlength="100" required id="id_name_course"/>
                        <h5 id="error_name_course">Заполните это поле</h5>
                    </div>
                </div>
                <div class="course_add">
                    <label for="id_nomer">Выберите студента:</label>
                    <div class="data-and-error">
                        <select name="stud" required id="id_subject">
                            <option value="" selected>Не выбрано</option>
                            {% for registr in nomera %}
                                <option value="{{registr.id_students}}">{{ registr.student_fio }}</option>
                            {% endfor %}
                        </select>
                        <h5 id="error_subject_course">Выберите комнату</h5>
                    </div>
                </div>
                <div class="course_add">
                    <label for="id_photo">Фото:</label>
                    <div class="data-and-error">
                        <input type="file" name="photo" id="id_photo"/>
                    </div>
                </div>
                <button type="submit" id="btn_add">Добавить регистрацию</button>
                <br>
            </div>

        </form>
    </div>
{% endblock %}