{% extends 'base.html' %}

{% block body1 %}
    <div id="header1">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1><br><br>Сущности</h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row centered">
                <li><a href="{% url 'teachers_url' %}">Преподаватели</a></li>
                <li><a href="{% url 'groups_url' %}">Писатели</a></li>
            </div>
        </div>

    </div>
{% endblock %}
