
{% extends 'base.html' %}

{% block body1 %}
    <div id="header1">
        <div class="container " style="margin: 50px auto">
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1>
                        {% for ph in data2.phones %}
                            {% if ph.id == data1.phone.id %}
                                {{ ph.phone_name }}
                            {% endif %}
                        {% empty %}
                            empty list
                        {% endfor %}
                    </h1>
                </div>
            </div>
        </div>
        <br><br>
        <div class="col-lg-8 col-lg-offset-2">
            <p>
                {% for ph in data2.phones %}
                    {% if ph.id == data1.phone.id %}
                        {{ ph.info }}
                    {% endif %}
                    {% empty %}
                    empty list
                {% endfor %}
            </p>
        </div>
    </div>
{% endblock %}
